<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Orders</title>
</head>
<body>
    <h1>My Orders</h1>

    <h2>Paid Orders</h2>
    <ul>
        {% for order in myorder %}
            {% if order.is_paid == True %}
            <li><a href="{% url 'dashboard:order-item' order.pk %}">Order Number: {{ order.id }} - Created At: {{ order.created_at }} - Status: Completed</a></li>
            {% endif %}
        {% empty %}
            <li>No paid orders found.</li>
        {% endfor %}
    </ul>

    <h2>Pending Orders</h2>
    <ul>
        {% for order in myorder %}
            {% if order.is_paid == False %}
            <li><a href="{% url 'dashboard:order-item' order.pk %}">Order Number: {{ order.id }} - Created At: {{ order.created_at }} - Status: Pending</a></li>
            {% endif %}
        {% empty %}
            <li>No unpaid orders found.</li>
        {% endfor %}
    </ul>
</body>
</html>
