{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    {% block aside %}
    {% include "dashboard/aside.html" %}
    {% endblock aside %}
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">

          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="{{request.user.images.first.image.url}}" alt="" width="35" height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-user fs-6"></i>
                      <p class="mb-0 fs-3">My Profile</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-mail fs-6"></i>
                      <p class="mb-0 fs-3">My Account</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-list-check fs-6"></i>
                      <p class="mb-0 fs-3">My Task</p>
                    </a>
                    <a href="{% url 'accounts:logout' %}" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
      <div class="container-fluid">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <div class="row">
                {% for prod in page_obj  %}
                <div class="col-md-4">
                  <h5 class="card-title fw-semibold mb-4">{{prod.name}}</h5>
                  <div class="card">
                    {% for img in prod.images.all|slice:':1'  %}
                    <img width='300px' height='225px' src={{img.image.url}} alt="...">
                    {% endfor %}
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">{{prod.description}}</p>
                      <a href="{% url 'vendors:update-product' prod.id %}" class="btn btn-primary">Details</a>
                    </div>
                  </div>
                </div>
                {% endfor %}

                {% comment %} <div class="pagination">
                  <span class="step-links">
                      {% if page_obj.has_previous %}
                          <a href="?page=1">&laquo; first</a>
                          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                      {% endif %}
              
                      {% for num in paginator.page_range %}
                          {% if page_obj.number == num %}
                              <span class="current">{{ num }}</span>
                          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                              <a href="?page={{ num }}">{{ num }}</a>
                          {% endif %}
                      {% endfor %}
              
                      {% if page_obj.has_next %}
                          <a href="?page={{ page_obj.next_page_number }}">next</a>
                          <a href="?page={{ paginator.num_pages }}">last &raquo;</a>
                      {% endif %}
                  </span>
              </div> {% endcomment %}
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}